@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,400,500,600,700,italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Clicker+Script:regular");


li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*------------*/

body {
  max-width: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  min-width: 100vw;
}

.coffee {
  position: absolute;
}



body img {
  margin: 0;
  padding: 0;
}

.header {
  color: #fff;
  margin: auto;
}

.header__container {
  margin: auto;
}

.header__container-wide {
  padding: 10px;
  display: flex;
  align-items: center;
  min-height: 121px;
  margin-left: 135px;
}

.header__column {
  flex: 300px;
  width: 300px;
}

.header__column-wide {
  flex: 1 1 auto;
  text-align: center;
  min-width: 600px;
}

.header__logo {
  color: #fff;
  font-family: "Clicker Script";
  line-height: 120%;
  font-size: 35px;
  font-weight: 400;
  min-height: 121px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 100px;
}

.menu {
  max-width: 1366px;
  margin-left: 93px;
  margin-right: 93px;
}

.menu__body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 120%;
}

.menu__list {
  display: flex;
  gap: 5px 32px;
  justify-content: center;
  align-items: center;
}

.menu__link {
  color: #fff;
  line-height: 120%;
  letter-spacing: 0.04em;
  transition: color 0.03s ease 0s;
}

.header__auth {
  text-align: center;
  outline: none;
  cursor: pointer;
}

.auth-header {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.auth-header__link {
  line-height: 120%;
  text-align: center;
  transition: color 0.03s ease 0s;
  font-family: "Playfair Display";
  font-size: 14px;

}

.auth-in {
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  padding: 14px 26px;
  font-weight: 500;
  line-height: 120%;
  background-color: #f9c06a00;
  border-radius: 24px;
  transition: background-color 0.3s ease 0s;
  width: 100px;
  height: 48px;
  border: none;
}

.auth-up {
  color: #1E1E1E;
  display: inline-block;
  margin-top: 10px;
  padding: 16px 16px;
  font-weight: 600;
  line-height: 120%;
  background-color: #F9C06A;
  border-radius: 24px;
  transition: background-color 0.3s ease 0s;
  width: 120px;
  height: 48px;
  border: none;
}

.auth-up:hover {
  background-color: #d9a558;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
}

.main-page__container {
  height: 422px;
  width: 527px;
  margin-left: calc(25% - 93px);
}

.main-page__label {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #fff;
  font-size: 22px;
}

.main-page__title {
  font-family: "Clicker Script", serif;
  font-weight: 400;
  color: #fff;
  font-size: 220px;
}

.main-page__text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #fff;
  font-size: 22px;
}

.main-page__button {
  color: #1E1E1E;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.main-page__buttons {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 26px;
  font-weight: 700;
  line-height: 120%;
  background-color: #F9C06A;
  border-radius: 24px;
  transition: background-color 0.3s ease 0s;
  width: 150px;
  height: 48px;
  border: none;
}

.main-page__buttons:hover {
  background-color: #d9a558;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
}

.secondblock {
  margin-top: 82px;
  margin-left: 93px;
}

.container2 {
  /* display: flex;
  flex-direction: column; */
}

.container2-row {
  display: flex;
  flex-direction: row;
}

.container2-column {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 585px;
  height: 348px;
}

.secondblock-title {
  font-family: "Playfair Display", serif;
  font-size: 54px;
  font-weight: 700;
  color: #603809;
}

.secondblock-text {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 400;
  color: #707070;
  word-wrap: break-word;
  line-height: 170%;
  padding-top: 29px;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.secondblock__button2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 16px;
  color: #1e1e1e;
}

.secondblock-pictire {
  display: flex;
  flex-direction: row;
  padding-left: 95px;
}

.secondblock-button {
  color: #1E1E1E;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.secondblock__buttons {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 26px;
  font-weight: 700;
  line-height: 120%;
  background-color: #F9C06A;
  border-radius: 24px;
  transition: background-color 0.3s ease 0s;
  width: 150px;
  height: 48px;
  border: none;
}

.secondblock__buttons:hover {
  background-color: #d9a558;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
}

.line1 {
  position: absolute;
  z-index: -1;
  top: 1400px;
  left: 0px;
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thirdblock-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 54px;
  color: #603809;
}

.thirdblock-text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #707070;
}

.thirdblock-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: stretch;
}

.thirdblock-column {
  display: flex;
  flex-direction: column;
  margin: 32px 10px 14px 10px;
  border: 1px solid rgba(249, 192, 106, 0.42);
  width: 280px;
  height: 364px;
  background: #fff9f1;
}

.thirdblock-column:hover {
  background: #ffeed8;
}


.thirdblock-column-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 22px;
  color: #603809;
  text-align: center;
  margin-top: 14px;
}

.thirdblock-column-text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 16px;
  color: #1e1e1e;
  text-align: center;
  margin-top: 6px;
}

.thirdblock-column-price {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 18px;
  color: #603809;
  text-align: center;
  margin-top: 6px;
}

.thirdblock-column-button {
  margin: 0 auto;
  display: inline-block;
  margin-top: 18px;
  padding: 8px 20px;
  width: 134px;
  height: 48px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #1e1e1e;
  border-radius: 24px;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
  background: #f9c06a;
}

.thirdblock-column-button:hover {
  background-color: #d9a558;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
}



.fourthblock {
  margin: 82px auto;
  display: flex;
  flex-direction: column;
}

.containerfourth {
  display: flex;
  flex-direction: column;

}

.fourthblock-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 54px;
  color: #603809;
  text-align: center;
}

.fourthblock-text {
  margin: 16px auto;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #707070;
}

.fourthblock-row {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: stretch;
}

.row {}

.fourthblock-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(249, 192, 106, 0.42);
  width: 280px;
  height: 284px;
  background: #fff9f1;
  margin: 32px 20px;
  text-align: center;
  padding-top: 36px;


}

.fourthblock-column-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 201px;
  height: 212px;
}


.fourthblock-column:hover {
  background: #ffeed8;
}

.fourthblock-column-picture {}

.fourthblock-column-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 28px;
  color: #603809;
  margin-top: 25px;
}

.fourthblock-column-text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #707070;
  width: 176px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 8px;

}

.container4 {}

.fourthblock-title2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #707070;

}

.fourthblock-text2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #603809;
}

.fourthblock-button2 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 24px auto;

  padding: 8px 20px;
  width: 134px;
  height: 48px;
  font-family: "Playfair Display", serif;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
  background: #f9c06a;
  font-weight: 700;
  font-size: 16px;
  color: #1e1e1e;
}

.fourthblock-button2:hover {
  background-color: #d9a558;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
}

.fourthblock-fon {}

.line2 {
  position: absolute;
  z-index: -1;
  top: 2185px;
  right: 0px;

}



.fifthblock-fon {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.fon2 {
  min-width: 100%;
}

.fifthblock {
  position: absolute;
  margin-top: 135px;
}

.container5 {
  margin-left: calc(25% - 93px);
  min-width: 575px;
  min-height: 304px;
}

.fifthblock-title {

  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 54px;
  color: #ffffff;
}

.fifthblock-text {
  margin-top: 22px;
  width: 409px;
  height: 68px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  color: #ffffff;
}

.fifthblock-button {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 16px;
  color: #1e1e1e;
  width: 134px;
  height: 48px;
  line-height: 120%;
  background-color: #F9C06A;
  border-radius: 50px;
  transition: background-color 0.3s ease 0s;
  border: none;
  margin-top: 22px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.fifthblock-button:hover {
  background-color: #d9a558;
  box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
}

.sixthblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sixthblock-fonleft {}

.sixthblock-fonright {}

.line3 {
  position: absolute;
  z-index: -1;
  top: 3911px;
  left: 0px;
}

.line4 {
  position: absolute;
  z-index: -1;
  top: 3439px;
  right: 0px;
}

.container6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 82px;
}


.sixthblock-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 54px;
  color: #603809;
}

.sixthblock-text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #707070;
  margin-top: 16px;
}

.sixthblock-review {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 980px;
  height: 524px;
  line-height: 120%;
  background-color: #F9C06A;
  background: #FFF9F1;
  border: 1px solid rgba(249, 192, 106, 0.42);
}

.sixthblock-review-text {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 200%;
  text-align: center;
  color: #707070;
  margin-top: 129px;
}

.sixthblock-review-name {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 32px;
  color: #603809;
  margin-top: 28px;
}

.sixthblock-review-position {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #707070;
  margin-top: 4px;
}

.sixthblock-review-foto {
  /* margin-top: 45px; */
}

.review-foto {}




.seventhblock {
  max-width: 1920px;
  min-width: 100%;
  margin: 0 auto;
}

.container7 {
  min-width: 100%;
  min-height: 374px;
  background-image: url(./img/coffee7.jpg);
  margin-top: 82px;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
}

.seventhblock-content {
  width: 980px;
  height: 214px;
  flex-grow: 1;
  text-align: center;
}

.seventhblock-title {
  /* margin-top: 80px; */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 72px;
  color: #FFFFFF;
}

.seventhblock-text {
  margin-top: 16px;
  font-size: 20px;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}




.seventhblock-window {
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seventhblock-email {
  height: 66px;
  width: 505px;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
  border-color: #f9c06a;
  border-width: 1px;
}


.seventhblock-button {
  height: 70px;
  width: 137px;
  background-color: #F9C06A;
  border-color: #f9c06a;
  border-width: 1px;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: 0%;
  color: #603809;

}













.footer {
  min-width: 100%;
}

.container-footer-fon {
  min-width: 100%;
  width: 100%;
  background-image: url(./img/coffee8.jpg);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* Колонки в footer будут в ряд */
  align-items: center;
  /* Центрирование содержимого */
}

.container-footer-menu {
  margin-top: 162px;
  margin-bottom: 72px;
  min-width: 1180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 1;
}

.cup-bottom {
  display: flex;
  justify-content: space-between;
  /* Размещение изображений по краям */
  width: 100%;
  /* Ширина для растягивания по всему контейнеру */
}

.cupl,
.cupr {
  margin-top: -138px;
  width: 297px;
  /* Ширина изображения чашки */
  height: 358px;
  /* Высота изображения чашки */
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 138px;
  /* Выровнять по высоте */
  z-index: 1;
}

.cupl {
  background-image: url(./img/cupleft.png);
}

.cupr {
  background-image: url(./img/cupright.png);
}




.footer-column1 {
  width: 380px;
  height: 258px;
}

.footer-column1,
.footer-column2,
.footer-column3,
.footer-column4 {
  display: flex;
  flex-direction: column;
}

.footer-column2,
.footer-column3 {
  width: 136px;
  height: 258px;
}

.footer-column4 {
  width: 332px;
  height: 258px;
}

.footer-column1-title {
  font-family: "Clicker Script";
  font-weight: 400;
  font-size: 54px;
  color: #fff;
}

.footer-column1-text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #fff;
}

.footer-icon {
  margin-top: 28px;
  padding: 10px;
}


.footer-column2-title,
.footer-column3-title,
.footer-column4-title {

  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 233%;
  color: #fff;
}

.footer-column2-menu,
.footer-column2-features,
.footer-column2-news,
.footer-column2-help,
.footer-column3-work,
.footer-column3-service,
.footer-column3-pricing,
.footer-column3-faq,
.footer-column4-adress,
.footer-column4-tel,
.footer-column4-mail,
.footer-column4-faq-site {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 233%;
  color: #fff;
}

.footer-column1-text {
  margin-top: 41px;
}

.footer-column2-menu,
.footer-column3-work,
.footer-column4-adress {
  margin-top: 55px;
}



@media (max-width:1200px) {

  .body   {
  max-width: 970px;
  overflow-x: hidden;
  width: 100%;
  left: 10px;
}
}

@media (max-width:992px) {
  .body   {
  max-width: 750px;
  overflow-x: hidden;
  width: 100%;
  left: 10px;
}
}

@media (max-width:767px) {
  .body {
    max-width: 650px;
    overflow-x: hidden;
    width: 100%;
    left: 10px;
  }
}

@media (max-width:599px) {
  body  {
  max-width: 300px;
  overflow-x: hidden;
  width: 100%;
  left: 10px;
}
}

/* .coffee,
.secondblock,
.thirdblock {
  width: 100%;
} */
/* 
.wrapper,
.coffee,
.secondblock,
.thirdblock calc(25% - 93px) */